<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card user-card">
        <img class="card-img-top image" [src]="user.image" alt="Card image cap">
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">Example of auth protected page </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button type="button" (click)="logout()" class="btn btn-danger user-logout">Logout</button>
    </div>
  </div>
</div>
